html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: Helvetica;
}

#tree {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 80px;
}